.container {
  margin-bottom: 6em;
  margin-top: 2em;
  text-align: center;
}

.form {
  text-align: left;
  max-width: 500px;
  margin: auto;
}

.verifyButton {
  display: block;
  width: 100%;
  max-width: 500px;
}

