.filters {
  display: flex;
  align-items: center;
}

.filter {
  margin: 0 5px !important;
}

.filter:first-child {
  margin-left: 0 !important;
}

.arrowButton:first-child {
  margin-right: 0 !important;
}
