.breadcrumb {
  font-size: 2rem !important;
  margin-top: -.14285em !important;
}

.link {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 1.2857em;
  color: rgba(0,0,0,.87) !important;
}

.active {
  color: #4183C4 !important;
  font-weight: normal !important;
}