.tableWrapper {
  position: relative;
}

.dimmer {
  margin: 51px 1px 68px ;
  width: auto !important;
  height: auto !important;
  z-index: 10 !important;
  right: 0;
  bottom: 0;
}

.spacer {
  height: 100px;
}
